body {
    background-color: #D4E2D4;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #C8FFE0;
    border-width: 8px;
    width: 5%;
}
h1 {
    color: #66BFBF;
}
h2 {
    color: #66BFBF;
}
h3 {
    color: #66BFBF;
}
